[Unit]
Description=Octoprint Touchscreen Interface
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/OctoPiTouchPanel
ExecStart=/usr/bin/python3 /home/pi/OctoPiTouchPanel/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
